.contact-x .seite{

}
.contact-x label{
	width: 33%;
	float:left;
}



.contact-x .formular p{
	width: 30%;
font-size: 12px;

}
.contact-x input{
	width:45%;
	margin-bottom: 5px;
}

.contact-x .button input{
	background-color: #AD1921;
	border: 0;
	float:right;
	padding: 5px;
}

.contact-x textarea{
resize:none;
width: 67%;
float: right;
}



.contact-x .button input{
	margin-top: 10px;
	color:#fff;
	width: 33%;
}

.contact-x .nachricht{
	margin-top: 20px;
	float:right;
}


.contact-x select{
width:40%;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
