.contactBox{background-color: #ebebeb; height: auto; width: 175px;  padding-bottom:15px;}

.contactBox .image{margin-left: 5px; padding-top: 8px; margin-right: 5px;}

.informationen{font-family: Arial, sans-serif; padding-top: 10px; margin-left: 8px; margin-right: 5px;}
.informationen .text1{font-size: 11px;font-weight: 600;}
.informationen .text2{color: #AD1921; font-size: 12px; font-weight: 600; padding-top: 3px; float:left;}
.informationen .name{font-size: 14px; font-weight: bolder; padding-top:25px; width: 160px;}
.informationen .telnummer{font-size: 12px; font-weight: 300; padding-top: 5px;}
