.sponsor-list{
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 2px solid #b1b3b3;
  border-bottom: 2px solid #b1b3b3;
}
.sponsor-list p{
  margin-bottom: 10px;
  font-size: 12px;
  color: #797979;
}
.sponsor-list p a{
  color: #ad1921;
  text-decoration: none;
}
.sponsor-list p a:hover,.sponsor-list p a:focus{
  color: red;
}
.sponsor-list ul{
  padding: 0;
  margin: 0;
}

.sponsor-list li{
  display: inline-block;
  min-width: 100px;
  max-width: 19%;
  margin-left: 0;
  list-style-type: none;
}
.sponsor-list img{
  transition: transform 0.25s;
  width: 100%;
}
.sponsor-list li a:hover img, .sponsor-list li a:focus img{
  transform: scale(1.1);
}
