.spenden_button, .spendenkonto_button{
  position:relative;
  width:180px;
}
.button{
background-color: white;
border: 1px solid grey;
box-shadow: 2px 2px 2px #888888;
border-radius: 2px;
padding: 5px;
text-decoration: none;
display: inline-block;
width: 100%;
height:45px;
z-index:1;
}

.spenden_icon{
  position: absolute;
  left: -16px;
  top: -3px;
  z-index:10;
}
.spenden_icon img{
  width: 55px;
  height:auto;
}

.sicher_schnell{ color:#6F6F6F; font-size: 12px; display:block;}
.online_spenden{  color: #AD1921; font-size: 14px; font-weight: bold; padding-left:22px; display:block;}

button:active {
  background-color: #a6a6a6;
}

/*zweiter Button*/
.text2{color: white; font-weight: bold; font-size: 14px; float:right; padding-right: 5px;}
.button2{
background-color: black;
border: 1px solid grey;
box-shadow: 2px 2px 2px #888888;
padding: 5px;
text-align: center;
text-decoration: none;
display: inline-block;
height:45px;
z-index:1;
width: 100%;
}

.button2:active {
  box-shadow: 0 1px 0 #00823F;
   background-color: #a6a6a6;
    bottom:-4px;
}

.button2:hover {
  cursor:pointer;
}
.info_icon{
  position: absolute;
  left: -16px;
  top: 5px;
  z-index:10;
}



.info_icon img{width: 40px; height: auto;}
